@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0d0a0b;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "ConsoleNeue";
  src: local("ConsoleNeue"), url("./assets/fonts/clacon2.ttf"), format("ttf");
}
.panel {
  width: 100%;
  transition: all 0.3s ease;
}

.panel-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/* Add this to your global CSS or create a new CSS module */
.g-recaptcha > div {
  margin: 0 auto;
}

/* Style the reCAPTCHA iframe */
.g-recaptcha iframe {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Fix for dark theme issues */
.g-recaptcha {
  background-color: rgba(30, 30, 30, 0.2);
  padding: 2px;
  border-radius: 5px;
}